<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashy Logistics - Vận chuyển thần tốc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<header>
    <a href="/" class="logo">FASHY <span>LOGISTICS</span></a>
    <div class="nav-links">
        <a href="/internal/login" class="nav-item-link">Nhân viên</a>
        <a href="/login" class="btn-outline">Đăng nhập</a>
        <a href="/register" class="btn-primary">Bắt đầu ngay</a>
    </div>
</header>

<div class="hero">
    <h1>Vận Chuyển Toàn Quốc 3 Miền</h1>
    <p>Hệ thống quản lý dữ liệu phân tán thông minh, minh bạch và tốc độ.</p>
    <a href="/register" class="btn-primary hero-btn">Gửi hàng ngay <i class="fa-solid fa-arrow-right"></i></a>
</div>

</body>
</html>